<span class="word">
  <span class="word-text">
    <%= "#{word.text} " %>
  </span>

  <%= link_to(
        fa_icon('times'),
        word_path(word),
        method: :delete,
        data: {confirm: 'точно?'}
      ) %>
</span>