<h1>Words</h1>

<ul>
  <%= render @words %>
</ul>

<%= form_with url: words_path, id: 'word-form' do |f| %>
  <div class="form-group">
    <%= f.text_field :text, class: "form-control", placeholder: "Введите слово и нажмите Enter" %>
  </div>
<% end %>
